<div class="row">
  <div class="col-lg-12">
    <form class="form-inline section-thin" novalidate (ngSubmit)="onSearch()">
      <mat-form-field class="col-lg-3" appearance="outline" floatLabel="'auto'">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="User Name Filter" [(ngModel)]="filterParams.userName" name="userName">
      </mat-form-field>
      <mat-form-field class="col-lg-3">
          <mat-select [(value)]="filterParams.approved" placeholder="Approved Filter">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let approved of approvedList" [value]="approved.value">{{ approved.display }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-lg-3">
            <mat-select [(value)]="filterParams.accountTypeId" placeholder="Account Type Filter">
              <mat-option [value]="null">None</mat-option>
              <mat-option *ngFor="let accountType of accountTypes" [value]="accountType.id">{{ accountType.type }}</mat-option>
            </mat-select>
          </mat-form-field>
      <button type="button" class="btn btn-secondary filterfield-pad" (click)="onReset()">Reset</button>
      <button type="submit" class="btn btn-success float-right filterfield-pad">Submit</button>
    </form>
  </div>
</div>
<br />
<div class="row" *ngIf="selectedUser == null">
  <div class="col-lg-12">
    <h5 class="text-right" *ngIf="pagination != null;">Users Found: {{ pagination.totalItems }}</h5>
    <mat-spinner *ngIf="showSpinner" class="center" mode="indeterminate"></mat-spinner>
    <table class="table table-hover">
      <caption *ngIf="pagination?.totalItems == 0">No Users Found</caption>
      <thead>
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">First Name</th>
          <th scope="col">Account Type</th>
          <th scope="col">Email</th>
          <th scope="col">Approved</th>
          <th scope="col">Phone Number</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{user.userName}}</th>
          <td>{{user.lastName}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.accountType.type}}</td>
          <td>{{user.email}}</td>
          <td>{{user.approved}}</td>
          <td>Comm: {{ user.commPhone }}
            <br /> DSN: {{ user.dsnPhone }}</td>
          <td>
            <button class="editbutton btn btn-primary btn-sm" (click)="onUserSelect(user)">
              <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" title="Edit {{user.userName}}"></i>
            </button>
            <button class="editbutton btn btn-danger btn-sm" (click)="onDelete(user)">
              <i class="fa fa-trash-o fa-lg" aria-hidden="true" title="Delete {{user.userName}}"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center" *ngIf="pagination != null && pagination.totalItems > 10">
      <pagination [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
        [maxSize]="pageSize" (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
  </div>
</div>
<div class="row" *ngIf="selectedUser != null">
  <div class="col-lg-12">
    <app-edituser [user]="selectedUser" (complete)="selectedUser = null"></app-edituser>
  </div>
</div>