<h2 mat-dialog-title>Edit {{fileRow?.firstName +' '+ fileRow?.lastName}}</h2>
<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="First Name" formControlName="firstName">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput placeholder="Last Name" formControlName="lastName">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput placeholder="Building Number" formControlName="bldgNum">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput placeholder="Room Number" formControlName="roomNum">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput placeholder="Unit Name" formControlName="unitName" [matAutocomplete]="unitAuto" (focusout)="unitFocusOut()" [(ngModel)]="unitName">
  </mat-form-field>
  <mat-autocomplete #unitAuto>
      <mat-option *ngFor="let unit of filteredOptions | async" [value]="unit.name" (mousedown)="onUnitSelected(unit)">
        {{ unit.name }}
      </mat-option>
    </mat-autocomplete>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="checkInDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>       
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="btn btn-danger btn-sm" (click)="close()">Close</button>
  <button class="btn btn-primary btn-sm" (click)="save()" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>