<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Building</th>
      <th scope="col">Occupancy</th>
      <th scope="col">Rate</th>
    </tr>
  </thead>
  <tbody *ngFor="let building of buildingDashboard?.buildingTypeList; let i = index;">
    <tr class="table-active" (click)="tableCollapseToggle(building.id)">
      <th scope="row">{{ building.type }}</th>
      <td>{{ building.currentGuests +' / '+ building.capacity }}</td>
      <td [ngClass]="{
        'table-danger': this.getOccupancyRate(building.currentGuests, building.capacity) >= .95,
        'table-warning':(this.getOccupancyRate(building.currentGuests, building.capacity) >= .75 && this.getOccupancyRate(building.currentGuests, building.capacity) <= .94)}">{{ this.getOccupancyRate(building.currentGuests, building.capacity) | number : '1.2-2' }}%</td>
    </tr>
    <ng-container *ngFor="let bldg of buildingDashboard.buildingList;">
      <tr *ngIf="bldg.buildingCategoryId == buildingDashboard?.buildingTypeList[i].id" class="collapse" [ngClass]="{show : showConditionCheck(bldg.buildingCategoryId), 'table-danger': bldg.buildingOccupancy >= .95,
        'table-warning':(this.getOccupancyRate(bldg.currentGuests, bldg.capacity) >= .75 && this.getOccupancyRate(bldg.currentGuests, bldg.capacity) >= .94) }">
        <th scope="row">{{ bldg.name }}</th>
        <td>{{ bldg.currentGuests +' / '+ bldg.capacity }}</td>
        <td>{{ this.getOccupancyRate(bldg.currentGuests, bldg.capacity) | number : '1.2-2' }}% &emsp;
          <button class="editbutton btn btn-primary btn-sm" (click)="openDialog(bldg)">
            <i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit {{bldg.name}}"></i>
          </button>
          <button class="editbutton btn btn-danger btn-sm" (click)="deleteBuildingById(bldg)">
            <i class="fa fa-trash-o fa-lg" aria-hidden="true" title="Delete {{bldg.name}}"></i>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>