<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <form [formGroup]="guestInfoForm" >
      <br />
        <div class="section">
            <legend>Service Information</legend>
            <div class="row">
              <div class="col col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="dodId">DoD ID</label>
                  <input type="number" #dodId id="dodId" formControlName="dodId" class="form-control" min="0" (focusout)='onDodIdFocusOut(dodId.value)' [attr.disabled]="dodIdDisabled?'':null">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="service">Service</label>
                  <select class="form-control is-invalid" id="service" formControlName="service" [(ngModel)]="selectedService" [compareWith]="compareService">
                    <option [ngValue]="service" *ngFor="let service of formData?.serviceList">{{ service.serviceName }}</option>
                  </select>
                  <div *ngIf="!guestInfoForm?.get('service').valid && guestInfoForm?.get('service').touched" class="invalid-feedback">
                    Please select a service
                  </div>
                </div>
              </div>
              <div class="col col-md-offset-1 col-lg-offset-1 col-md-4 col-lg-4">
                <div *ngIf="selectedService.id != 0" class="form-group">
                  <label for="rankId">Rank</label>
                  <select class="form-control is-invalid" id="rank" formControlName="rank" [compareWith]="compareRank" >
                    <option [ngValue]="rank" *ngFor="let rank of selectedService.ranks | sort: ['tier', 'grade']">{{ rank.rankName }}</option>
                  </select>
                  <div *ngIf="!guestInfoForm.get('rank').valid && guestInfoForm.get('rank').touched" class="invalid-feedback">
                    Please select a rank
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="userUnit">Unit</label>
                  <input type="text" id="guestUnit" formControlName="guestUnit" class="form-control is-invalid" [(ngModel)]="selectedUnit.name"
                    (focus)="unitFocus()" (focusout)="unitFocus()">
                  <div *ngIf="!guestInfoForm.get('guestUnit').valid && guestInfoForm.get('guestUnit').touched" class="invalid-feedback">
                    Please select a unit
                  </div>
                  <div class="row">
                    <ul class="list-group" *ngIf="isUnitFocused" style="position: absolute; z-index: 1; margin-left: 2rem;">
                      <div *ngFor="let unit of formData.unitList | filter: selectedUnit.name: 'name'; let i=index;">
                        <li (mousedown)="onUnitSelected(unit)" class="list-group-item" *ngIf="i<7">
                          <a href="">
                            {{ unit.name }}
                          </a>
                        </li>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="guestChalk">Chalk</label>
                  <input type="number" id="guestChalk" formControlName="guestChalk" class="form-control" min="0" max="1000">
                </div>
              </div>
            </div>
          </div>
      <br/>
      <div class="section">
        <legend>Personal Information</legend>
        <div class="row">
          <div class="col">
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="" (click)="idScanCheckin = !idScanCheckin">
              <label class="custom-control-label" for="customRadio1">Manual Check-In</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" (click)="idScanCheckin = !idScanCheckin">
              <label class="custom-control-label" for="customRadio2">ID Scan</label>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col col-md-4 col-lg-4">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" id="firstName" formControlName="firstName" class="form-control">
            </div>
          </div>
          <div class="col-1 col-md-offset-1 col-lg-offset-1">
            <div class="form-group">
              <label for="middleInitial">MI</label>
              <input type="text" id="middleInitial" formControlName="middleInitial" class="form-control" maxlength="1">
            </div>
          </div>
          <div class="col col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1">
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" id="lastName" formControlName="lastName" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-4 col-lg-4">
            <div class="form-group">
              <label>Gender:</label>
              <div class="custom-control custom-radio">
                <input type="radio" id="male" name="gender" formControlName="gender" [value]="0" class="custom-control-input" [ngModel]=""
                  checked="">
                <label class="custom-control-label" for="male">Male</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="female" name="gender" formControlName="gender" [value]="1" [ngModel]="" class="custom-control-input">
                <label class="custom-control-label" for="female">Female</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="section">
        <legend>Contact Information</legend>
        <div class="row">
          <div class="col col-md-4 col-lg-4">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" formControlName="email" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-4 col-lg-4">
            <div class="form-group">
              <label for="commPhone">Comm Phone</label>
              <input type="tel" id="commPhone" formControlName="commPhone" class="form-control">
            </div>
          </div>
          <div class="col col-md-offset-1 col-lg-offset-1 col-md-4 col-lg-4">
            <div class="form-group">
              <label for="dsnPhone">DSN Phone</label>
              <input type="tel" id="dsnPhone" formControlName="dsnPhone" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-12 offset-lg-5">
          <button type="button" class="btn btn-danger btn-lg" (click)="onCancel()">Cancel</button>
          <button type="button" class="btn btn-secondary btn-lg" [disabled]="!guestInfoForm.valid" (click)="onNext()">Next</button>
        </div>
      </div>
    </form>
  </div>
</div>