<br />
<div class="section">
  <div class="row">
    <div class="col-lg-12">
      <h2>Personal Information</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <label>First Name:</label>
      <p class="lead">{{ guestStay?.firstName }}</p>
    </div>
    <div class="col-lg-2">
      <label>Middle Initial:</label>
      <p class="lead">{{ guestStay?.middleInitial }}</p>
    </div>
    <div class="col-lg">
      <label>Last Name:</label>
      <p class="lead">{{ guestStay?.lastName }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <label>Gender:</label>
      <p class="lead">{{ guestStay?.gender }}</p>
    </div>
  </div>
</div>
<br/>
<div class="section">
  <h2>Service Information</h2>
  <div class="row">
    <div class="col-lg">
        <label>DoD ID:</label>
        <p class="lead">{{ guestStay?.dodId }}</p>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-2">
        <label>Service:</label>
        <p class="lead">{{ guestStay?.service?.serviceName }}</p>
      </div>
      <div class="col-lg">
        <label>Rank:</label>
        <p class="lead">{{ guestStay?.rank?.rankName }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <label>Unit:</label>
        <p class="lead">{{ guestStay?.guestUnit?.name }}</p>
      </div>
    </div>
</div>
<br />
<div class="section">
  <h2>Contact Information</h2>
  <div class="row">
    <div class="col-lg">
      <label>Email:</label>
      <p class="lead">{{ guestStay?.email }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <label>DSN:</label>
      <p class="lead">{{ guestStay?.dsnPhone }}</p>
    </div>
    <div class="col-lg">
      <label>Comm:</label>
      <p class="lead">{{ guestStay?.commPhone }}</p>
    </div>
  </div>
</div>
<br />
<div class="section">
  <h2>Room Details</h2>
  <div class="row">
    <div class="col-lg">
      <p class="lead">{{ guestStay?.building?.name }}, Room: {{ guestStay?.room?.roomNumber }}</p>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-lg">
      <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="">Submit</button>
      <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
  </div>
</div>