<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="filterGuestForm" (ngSubmit)="onSearch()">

    </form>
    <h5 class="text-right">Guests Found: {{ pagination?.totalItems }}</h5>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Rank</th>
          <th scope="col">Gender</th>
          <th scope="col">DoD ID</th>
          <th scope="col">Unit</th>
          <th scope="col">Email</th>
          <th scope='col'>Phone Number</th>
        </tr>
      </thead>
      <tbody *ngFor="let guest of guestList; let i = index;">
        <tr class="table-default" (click)="getGuestStays(guest.id)" title="View guest stays">
          <th scope="row">{{ guest.lastName + ', ' + guest.firstName + ' ' + guest.middleInitial }}</th>
          <td>{{ guest.rank }}</td>
          <td>{{ guest.gender }}</td>
          <td>{{ guest.dodId }}</td>
          <td>{{ guest.unit }}</td>
          <td>{{ guest.email }}</td>
          <td>Comm: {{ guest.commPhone }}
            <br /> DSN: {{ guest.dsnPhone }}</td>
        </tr>
        <ng-container *ngIf="guestStayList != null  && guest.id == guestStayList[0]?.guestId">
          <tr *ngFor="let guestStay of guestStayList;">
            <th scope="row">{{ guestStayList[0]?.guestId }}</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>&emsp;
              <button class="editbutton btn btn-primary btn-sm">
                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" title="Edit {{ guestStayList[i].checkInDate }} Stay?"></i>
              </button>
              <button class="editbutton btn btn-danger btn-sm">
                <i class="fa fa-trash-o fa-lg" aria-hidden="true" title="Delete {{ guestStayList[i].checkInDate }} Stay?"></i>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="text-center" *ngIf="pagination != null && pagination.totalItems > 10">
      <pagination [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
        [maxSize]="pageSize" (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
  </div>
</div>