<!-- <div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6">
      <p *ngFor="let building of buildingDashboard.buildingList">{{ building.name }}</p>
    </div>
  </div>
</div> -->

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Building Type</th>
      <th scope="col">Occupancy</th>
      <th scope="col">Occupancy Rate</th>
    </tr>
  </thead>
  <tbody *ngFor="let building of buildingDashboard.buildingTypeList ;let i = index;">
    <tr class="table-active">
      <th scope="row">{{ buildingDashboard.buildingTypeList[i].type }}</th>
      <td>Occupancy</td>
      <td [ngClass]="{
        'table-danger':buildingDashboard.buildingOccupancy >= .95,
        'table-warning':(buildingDashboard.buildingOccupancy >= .75 && building.buildingDashboard.buildingOccupancy <= .94)}">Rate %</td>
    </tr>
    <ng-container *ngFor="let bldg of buildingDashboard.buildingList;">
      <tr *ngIf="bldg.buildingCategoryId == buildingDashboard.buildingTypeList[i].id">
        <th scope="row">{{ bldg.name }}</th>
        <td>Occupancy</td>
        <td>{{ bldg.buildingOccupancy }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>