<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <!-- [formGroup]="signupForm" (ngSubmit)="onSubmit()" -->
    <form [formGroup]="edituserForm" (ngSubmit)="onSubmit()">
      <br/>
      <div class="section">
      <legend>Account Information</legend>
      <div class="row">
        <div class="col col-md-5 col-lg-5">
          <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" id="username" formControlName="username" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col col-md-5 col-lg-5">
            <div class="form-group">
              <label for="accountTypeId">AccountType</label>
              <select class="form-control" id="accountTypeId" formControlName="accountTypeId" [compareWith]="compareAccount">
                <option [ngValue]="accountType.id" *ngFor="let accountType of formData?.accountTypeList">{{ accountType.type }}</option>
              </select>
            </div>
          </div>
      </div>
    </div>
      <br/>
      <div class="section">
      <legend>Personal Information</legend>
      <div class="row">
        <div class="col col-md-4 col-lg-4">
          <div class="form-group">
            <label for="dodId">DoD ID</label>
            <input type="number" id="dodId" formControlName="dodId" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4 col-lg-4">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" formControlName="firstName" class="form-control">
          </div>
        </div>
        <div class="col-1 col-md-offset-1 col-lg-offset-1">
          <div class="form-group">
            <label for="middleInitial">MI</label>
            <input type="text" id="middleInitial" formControlName="middleInitial" class="form-control" maxlength="1">
          </div>
        </div>
        <div class="col col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" formControlName="lastName" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4 col-lg-4">
          <div class="form-group">
            <label for="service">Service</label>
            <select class="form-control is-invalid" id="service" formControlName="service" [(ngModel)]="selectedService" [compareWith]="compareService">
              <option [ngValue]="service" *ngFor="let service of formData?.serviceList">{{ service.serviceName }}</option>
            </select>
            <div *ngIf="!edituserForm.get('service').valid && edituserForm.get('service').touched" class="invalid-feedback">
              Please select a service
            </div>
          </div>
        </div>
        <div class="col col-md-offset-1 col-lg-offset-1 col-md-4 col-lg-4">
          <div *ngIf="selectedService != undefined" class="form-group">
            <label for="rankId">Rank</label>
            <select  class="form-control is-invalid" id="rankId" formControlName="rankId" [compareWith]="compareRank">
              <option [ngValue]="rank.id" *ngFor="let rank of selectedService.ranks | sort: ['tier', 'grade']">{{ rank.rankName }}</option>
            </select>
            <div *ngIf="!edituserForm.get('rankId').valid && edituserForm.get('rankId').touched" class="invalid-feedback">
              Please select a rank
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4 col-lg-4">
          <div class="form-group">
            <label for="userUnit">Unit</label>
            <input type="text" id="userUnit" formControlName="userUnit" class="form-control is-invalid" [(ngModel)]="selectedUnit.name" (focus)="unitFocus()"
              (focusout)="unitFocus()">
              <div *ngIf="!edituserForm.get('userUnit').valid && edituserForm.get('userUnit').touched" class="invalid-feedback">
                Please select a unit
              </div>
            <div class="row">
              <ul class="list-group" *ngIf="isUnitFocused" style="position: absolute; z-index: 1; margin-left: 2rem;">
                <div *ngFor="let unit of formData.unitList | filter: selectedUnit.name: 'name'; let i=index;">
                    <li (mousedown)="onUnitSelected(unit)" class="list-group-item" *ngIf="i<7">
                        <a href="">
                          {{ unit.name }} 
                        </a>
                      </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
      <br/>
      <div class="section">
      <legend>Contact Information</legend>
      <div class="row">
        <div class="col col-md-4 col-lg-4">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4 col-lg-4">
          <div class="form-group">
            <label for="commPhone">Comm Phone</label>
            <input type="tel" id="commPhone" formControlName="commPhone" class="form-control">
          </div>
        </div>
        <div class="col col-md-offset-1 col-lg-offset-1 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="dsnPhone">DSN Phone</label>
            <input type="tel" id="dsnPhone" formControlName="dsnPhone" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <br />
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary" [disabled]="!edituserForm.valid">Submit</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
    <br/><br/>
  </div>
</div>