<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <img id="logo" src="../../assets/LodgeNET_white_Large.png" height="45%" width="65%" />
    </div>
  </div>
</div> -->
<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1 offset-lg-2 col-md col-sm">
      <img id="logo" src="../../assets/mapLost.png" height="50%" width="" />
    </div>
    <div class="col-lg-5 col-md col-sm">
      <p class="text-center" style="font-size: 60px">Page Not Found</p>
      <p class="text-center">We're sorry, but we are unable to find this page</p>
    </div>
    <div class="col-lg-2 col-md col-sm">
      <img id="logo" src="../../assets/signLost.png" height="50%" width="" />
    </div>
  </div>
</div>