<div class="row">
  <div class="col-lg-12">
    <div *ngFor="let building of buildingDashboard?.buildingTypeList; let i = index;">
      <div class="custom-control custom-radio">
        <input type="radio" [attr.id]="building.id" name="buildingType" class="custom-control-input" [(ngModel)]="buildingTypeIdSelected"
          [value]="building.id" (click)="yup()">
        <label class="custom-control-label" [attr.for]="building.id">{{ building.type }}</label>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
    <div class="btn-group-vertical btn-group-toggle" role="group" data-toggle="buttons">
      <div *ngFor="let building of buildingDashboard?.buildingList;">
        <button *ngIf="building.buildingCategoryId == buildingTypeIdSelected" type="button" class="btn btn-primary" (click)="onClickGetRooms(building.id)">{{ (building.name.length>20) ? (building.name | slice:0:17)+'...':(building.name)}}</button>
      </div>
    </div>
  </div>
  <div class="col-lg">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Room Number</th>
              <th scope="col">Capacity</th>
              <th scope="col">Floor</th>
              <th scope="col">Room Type</th>
              <th scope="col">Surge</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of rooms" (click)="yup()">
              <th scope="row">{{room.roomNumber}}</th>
              <td>{{room.capacity}}</td>
              <td>{{room.floor}}</td>
              <td>{{room.roomType}}</td>
              <td>{{room.surgeMultiplier}}</td>
            </tr>
          </tbody>
        </table> 
  </div>
</div>