<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">
    <img src="../../assets/LodgeNET_horizontal_white.png" height="40px" width="206px"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" 
   aria-controls="navbarColor01" (click)="isNavbarOpen = !isNavbarOpen"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{show: isNavbarOpen}" id="navbarColor01">
    <ul class="navbar-nav mr-auto"></ul>
    <ul *ngIf="!this.authService.loggedIn()" class="navbar-nav navbar-right">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/users/signup">
          <i class="fa fa-users" aria-hidden="true"></i> Sign Up</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/users/login">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
      </li>
    </ul>
    <ul *ngIf="this.authService.loggedIn()" class="nav navbar-nav navbar-right" style="margin-right: 4rem;">
      <li class="nav-item dropdown">
        <a (click)="isUploadDropdownOpen = !isUploadDropdownOpen" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="true" style="cursor: pointer;">Upload</a>
        <div class="dropdown-menu" [ngClass]="{show: isUploadDropdownOpen}" id="uploaddropdownMenu">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Logout</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a (click)="isUserDropdownOpen = !isUserDropdownOpen" class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="true" style="cursor: pointer;">
          <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu" [ngClass]="{show: isUserDropdownOpen}" id="userdropdownMenu">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>